{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldcharactername">name</label><input type="text" id="somefieldcharactername" name="name"/></div>
<div class="field"><label for="somefieldcharacterpic">pic</label><input type="file" id="somefieldcharacterpic" name="pic"/></div>
<div class="field"><label for="somefieldbiography">biography</label><textarea id="somefieldbiography1" name="biography"></textarea>
</div>
<div class="field"><label for="somefieldcountry_id">country_id</label><select id="somefieldcountry_id" name="country_id"><option value="novalue">no value</option>
{% for somecountry in touslescountry %}
<option value="{{ somecountry['id'] }}">{{ somecountry['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in characters %}<p class="myname">{{x["name"] }}</p>{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_character"> add one character</a>{% endblock %}